
<div class="modal" tabindex="-1" role="dialog" *ngIf="show">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Aviso</h5>
        <span aria-hidden="true" class="close" aria-label="Close" (click)="closeModal()">&times;</span>
      </div>
      <div class="modal-body">
        <p>{{ message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Aceptar</button>
      </div>
    </div>
  </div>
</div>
