<footer class="pad-70">
  <div class="socials">
    <a href="https://www.youtube.com/@alimenta-tu-exito" target="_blank" rel="noopener noreferrer">
      <img ngSrc="./assets/icons/youtube.png" width="50" height="50" title="YouTube" />
    </a>

    <a href="https://www.instagram.com/alimenta_tu_exito/" target="_blank" rel="noopener noreferrer">
      <img ngSrc="/assets/icons/insta.png" width="50" height="50" />
    </a>

    <a href="https://www.facebook.com/profile.php?id=61565550813860" target="_blank" rel="noopener noreferrer">
      <img ngSrc="assets/icons/face.png" width="50" height="50" />
    </a>
  </div>
</footer>
